// Libraries
@import '../../node_modules/antd/dist/antd';

// Variables
@import './variables/colors';

// Mixins
@import './mixins/truncate-text';

// Shared Components
@import '../shared-components/title-bar/title-bar';

// Routes 
@import '../routes/home/home';
@import '../routes/network/network';

// Global Rules
body {
  font-family: "Helvetica";
  color: $gray-900;
}
